body {
     font-family: 'Rubik', sans-serif;
     background-image: url("/images/white-landscape-background-2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    }
header button, 
footer button {
    background-color: #ffffff;
    border: 1px solid rgb(0, 120, 215);    
    border-radius: 3px;
}
a {
     font-size: 20.25px;
     line-height: 2;
     text-decoration: none;
     text-rendering: optimizeLegibility;
 }
header button:hover, 
footer button:hover,
a:hover {
    font-style: italic;
    transition:  all 500ms ease-in-out;
}
 footer {
     text-rendering: optimizeLegibility;
 }
 h1, h3, h4 {
     font-weight: 400;    
 }
 h1 {
     font-size: 63px;
 }
 h2 {
     font-size: 47.25 px;
 }
 h3 {
     font-size: 31.5px;
 }
 .line-height {
     line-height: 1.5;
 }
 main img {
     width: 500px;
 }

 ul {
     list-style: none;
     padding-left: 0;
 }