body {
     font-family: 'Lato', sans-serif;
     background-image: url("/images/white-landscape-background-2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    }
main button,
footer button {
    background-color: #ffffff;
    border: 1px solid #e54b4b;
    border-radius: 3px;
}
main button:hover,
footer button:hover,
a:hover {
    transition:  all 500ms ease-in-out;

}
a {
     font-size: 20.25px;
     line-height: 2;
     text-decoration: none;
     text-rendering: optimizeLegibility;
 }
 button {
     font-size: 20.25px;
 }

 header {
     margin:50px;
 }
 h1, h3, h4 {
     font-weight: 400;
 }
img {
    max-height: 400px;
}
 .line-height {
     line-height: 1.5;
 }

.portfolio-img {
     height: 550px;
    }
.status {
    border-bottom: 3px solid #4b6cc1;
    border-top: 3px solid #4b6cc1;
    border-radius: 10px;
}

 ul {
     list-style: none;
     padding-left: 0;
 }
